{% extends "personal/header.html" %}
{% block content %}


{% block title %}

    <link rel="canonical" href="http://www.thestoryhut.com" />
    <title>StoryHut : Home to Stories</title>


{% endblock %}



<div  style="margin-top:4%">
	<div class=" masonry-container grid">
		{% for post in object_list %}
	    {% if forloop.counter|divisibleby:4 %}
                <div class="row">
		    {% endif %}

		    <div class="col-sm-3" style="min-height:20em">





            {% if not "http" in post.cover_loc %}
                    {% load static %}
            {% static "personal/images/" as baseUrl %}
                {% static variable_with_path as varname %}
             <div class="thumbnail"> <img src="{{ baseUrl }}{{post.cover_loc}}" class="img-responsive" style="width: 100%;height:26em" alt="">
            {% else %}
                        <div class="thumbnail"> <img src="{{post.cover_loc}}" class="img-responsive" style="width: 100%;height:26em" alt="">
            {% endif %}


              <div class="caption">
                <strong><h3 style="font-size: 1em ;line-height: 1em;padding-bottom: 1em;
    letter-spacing: 1px;"> {{ loop.index }} {{post.story_title }}</h3></strong>
                <p>{{post.brief}}   {{loop.index}} </p>
                <div class="row">
                    <div class="col-xs-4">
                  <a href="personal/{{post.story_title|slugify}}-{{post.id}}" class="btn btn-primary" role="button"> Read {{post.type}} </a></div>



                    <div class="col-xs-2">

                  </div>



                </div>




              </div>
            </div>

            {% if forloop.counter|divisibleby:4 %}
                </div>
		    {% endif %}

            </div>
		{% endfor %}
	</div>
</div>



{% endblock %}