{% extends "personal/header.html" %}


{% block meta %}

{% block title %}
    <link rel="canonical" href="http://www.thestoryhut.com/personal/{{story.story_title|slugify}}-{{story.id}}" />
    <title> {{story.story_title}} </title>

{% endblock %}


<meta property="og:url"                content="http://www.thestoryhut.com/personal/{{story.story_title|slugify}}-{{story.id}}"/>

<meta property="og:type"               content="article" />

<meta property="og:title"              content="{{ story.story_title }}" />

<meta property="og:description"        content="{{ story.story_brief }}" />

 {% if not "http" in story.cover_loc %}
        {% load static %}
            {% static "personal/images/" as baseUrl %}
                <meta property="og:image"   content="www.thestoryhut.com/{{ baseUrl }}{{story.cover_loc}}" />
            {% else %}
             <meta property="og:image"   content="{{story.cover_loc}}" />
            {% endif %}

{% endblock %}





 <!-- Bootstrap Core CSS -->

{% block content %}


<div class="row blog-hero" >

<div class="col-md-7 mobile-story-title">
<h2 style="font-size:1.5em">{{ story.story_title }}
    {% if not "unanonymous" in story.writer %} <br class="rwd-break" />
                    <small >  By {{ story.writer }}</small>
    {% endif %}

</div>
    <div class="col-md-5">
     <ul class="pagination-sm pagination-demo "></ul>
                </div>
</h2>
</div>

<hr/>

    <div class="paging-container"> </div>

	<div class="row">

  <div class="col-sm-12" id="contentdiv" style="margin-bottom:1.2em;font-size: 1.2em;line-height: 2em;text-align: justify;text-justify: inter-word;">
      {{story_text|safe}} </div>
    </div>
    <br>

{% endblock %}

{% block footer}

TEST footer

{% endblock %}}
