
{% extends "personal/header.html" %}

{% load staticfiles %}

    <!--/#projects-->

 <!--/#header-->

{% block content %}

    <!--/#page-breadcrumb-->
 <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4" id="sidebar">
                    <div class="sidebar portfolio-sidebar sidebar">
                        <div class="sidebar-item categories sidebar__inner padding-top">
                            <h3>Project Categories</h3>
                            <ul class="nav navbar-stacked">
                                <li><a href="#">Branded<span class="pull-right">(1)</span></a></li>
                                <li class="active"><a href="#">Design<span class="pull-right">(8)</span></a></li>
                                <li><a href="#">Folio<span class="pull-right">(4)</span></a></li>
                                <li><a href="#">Logos<span class="pull-right">(9)</span></a></li>
                                <li><a href="#">Mobile<span class="pull-right">(3)</span></a></li>
                                <li><a href="#">Mockup<span class="pull-right">(4)</span></a></li>
                                <li><a href="#">Php<span class="pull-right">(2)</span></a></li>
                                <li><a href="#">Wordpress<span class="pull-right">(8)</span></a></li>
                            </ul>
                        </div>
                        <div class="sidebar-item  recent">
                            <h3>Recent Projects</h3>
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img src="images/portfolio/project1.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                    <p>posted on  07 March 2014</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img src="images/portfolio/project2.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                    <p>posted on  07 March 2014</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#"><img src="images/portfolio/project3.jpg" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a></h4>
                                    <p>posted on  07 March 2014</p>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-item popular">
                            <h3>Popular Projects</h3>
                            <ul class="gallery">
                                <li><a href="#"><img src="images/portfolio/popular1.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/portfolio/popular2.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/portfolio/popular3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/portfolio/popular4.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/portfolio/popular5.jpg" alt=""></a></li>
                                <li><a href="#"><img src="images/portfolio/popular1.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8">


                            {% for post in object_list %}

                         {% if forloop.counter0|add:1|divisibleby:3 %}

                    <div class="row">
                        {% endif %}

                    <div class="col-md-4 col-sm-4">
                        <div class="single-blog two-column">
                                    <div class=" portfolio-item branded logos">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">

                                    <img >


                                    <img class="card-img-top lazyloaded" src="http://res.cloudinary.com/thestoryhut/image/upload/w_70,h_53,c_scale/v1500098352/{{post.cover_loc}}" class="img-responsive ccardimg" sizes="(min-width: 30em) 28em, 100vw"
        srcset="http://res.cloudinary.com/thestoryhut/image/upload/f_auto,q_70,w_261,h_280/v1500098352/{{post.cover_loc}} 256w,
                http://res.cloudinary.com/thestoryhut/image/upload/f_auto,q_70,w_261,h_280/v1500098352/{{post.cover_loc}} 512w,
                http://res.cloudinary.com/thestoryhut/image/upload/f_auto,q_70,w_261,h_280/v1500098352/{{post.cover_loc}} 768w,
                http://res.cloudinary.com/thestoryhut/image/upload/f_auto,q_70,w_261,h_280/v1500098352/{{post.cover_loc}} 1024w,
                http://res.cloudinary.com/thestoryhut/image/upload/f_auto,q_70,w_261,h_280/v1500098352/{{post.cover_loc}} 1280w" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="images/portfolio/1.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                            <div class="post-content overflow">
                                <ul class="nav nav-justified post-nav">
                                    <li><a href="#"><i class="fa fa-tag"></i>Creative</a></li>
                                </ul>
                                <h2 class="post-title bold"><a href="blogdetails.html">{{post.story_title|title }}</a></h2>
                                <h3 class="post-author"><a href="#"> By {{post.writer}} </a></h3>
                                <p> {{post.brief|capfirst|truncatewords:15 }} {{context.now}}</p>
                                <a href="#" class="read-more">View More</a>
                                <div class="post-bottom overflow">
                                    <ul class="nav nav-justified post-nav">
                                        <li><a href="#"><i class="fa fa-heart"></i>32 Love</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
    {% if forloop.counter0|add:1|divisibleby:3 %}
                    </div>
                        {% endif %}
                    {% endfor %}


                        <div class="portfolio-pagination">
                            <ul class="pagination">
                              <li><a href="#">left</a></li>
                              <li><a href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li class="active"><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li><a href="#">6</a></li>
                              <li><a href="#">7</a></li>
                              <li><a href="#">8</a></li>
                              <li><a href="#">9</a></li>
                              <li><a href="#">right</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--/#blog-->



  {% endblock %}