
{% extends "personal/metatemplate.html" %}

{% load static %}



{% block body %}

	<header id="header">
        <div class="container">

        </div>
        <div class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        <h1><img src="http://res.cloudinary.com/thestoryhut/image/upload/c_scale,w_170,h_55/v1500201334/thestoryhut5_ou80xv.png" alt="logo"></h1>
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="/writestory"><input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Publish"></a></li>
                        <li><a href="/signup_login">Sign In / Sign Up</a></li>

                    </ul>
                </div>

            </div>
        </div>
    </header>
    <!--/#header-->


    {% block content %}


    {% endblock %}

    <footer id="footer" style="background-image: none">
        <div class="container">
            <div class="row">



                <div class="col-sm-12">
                    <div class="contact-form bottom" style="text-align:center">
                        <h2>Find us on social networks</h2>
                           <div class="row">
                <div class="col-sm-12 overflow">
                   <div class="social-icons" style="padding-left:42%">
                        <ul class="nav nav-pills">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
             </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; TheStoryHut 2017. All Rights Reserved.</p>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

{% endblock %}



