
{% extends "personal/header.html" %}

{% block content %}

{% load static %}

    <!--/#action-->
    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>We Are Creative Nerds</h1>
                        <p>Boudin doner frankfurter pig. Cow shank bresaola pork loin tri-tip tongue venison pork belly meatloaf short loin landjaeger biltong beef ribs shankle chicken andouille.</p>
                        <a href="#" class="btn btn-common">SIGN UP</a>
                    </div>
                    <img src="{% static 'personal/images/home/slider/hill.png' %}" class="slider-hill" alt="slider image">
                    <img src="{% static 'personal/images/home/slider/house.png' %}" class="slider-house" alt="slider image">
                    <img src="{% static 'personal/images/home/slider/sun.png' %}"  class="slider-sun" alt="slider image">
                    <img src="{% static 'personal/images/home/slider/birds1.png' %}" class="slider-birds1" alt="slider image">
                    <img src="{% static 'personal/images/home/slider/birds2.png' %}" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>





    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="http://res.cloudinary.com/thestoryhut/image/upload/v1504839453/girl-reading-a-interesting-book-background_23-2147542439_f9fkq2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Experienced and Enthusiastic</h2>
                        <P>Pork belly leberkas cow short ribs capicola pork loin. Doner fatback frankfurter jerky meatball pastrami bacon tail sausage. Turkey fatback ball tip, tri-tip tenderloin drumstick salami strip steak.

                            Many learners with disabilities are visual learners and remember content when they can see it represented in some way; in other words, they need to “see what we mean.”graphic notes.
<br><br>
                           Three visual supports helpful for teaching and are described here: picture books, graphic notes, and story kits.
                        </P>
                    </div>
                </div>
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms"                 <div class="single-features" style="margin-top:100px">
>
                        <h2>Built for the Responsive Web</h2>
                        <P>Mollit eiusmod id chuck turducken laboris meatloaf pork loin tenderloin swine.Many learners with disabilities are visual learners and are best able to understand and remember content when they can see it represented in some way; in other words, they need to “see what we mean.” Three visual supports helpful for teaching and supporting literacy development are described here: picture books, graphic notes, and story kits.
<br><br>
                           Fugiat ea jowl cillum meatloaf.</P>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="http://res.cloudinary.com/thestoryhut/image/upload/v1504855304/asdff_olila7.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="https://image.freepik.com/free-vector/facebook-background-with-mobile-phone-and-speech-bubbles_23-2147614698.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms" style="margin-top:120px">
                        <h2>Experienced and Enthusiastic</h2>
                        <P>
                             Many learners with disabilities are visual learners and are best able to understand and remember content when they can see it represented in some way; in other words, they need to “see what we mean.” Three visual supports helpful for teaching and supporting literacy development are described here: picture books, graphic notes, and story kits.
<br><br>

                         chicken eiusmod exercitation shank landjaeger spare ribs corned beef.</P>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--/#blog-->



  {% endblock %}