<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Masonry | Triangle</title>

    <link  href="{% static 'personal/css/bootstrap.min.css' %}"  rel="stylesheet">
    <link href="{% static 'personal/css/font-awesome.min.css' %}"  rel="stylesheet">
    <link  href="{% static 'personal/css/lightbox.css' %}" rel="stylesheet">
    <link href="{% static 'personal/css/animate.min.css' %}"  rel="stylesheet">
	<link href="{% static 'personal/css/main.css' %}"  rel="stylesheet">
	<link  href="{% static 'personal/css/responsive.css' %}" rel="stylesheet">

      {% block jsfile %}

    {% endblock %}

    {% block loadexternalcss  %}

    {% endblock %}

    <!--[if lt IE 9]>
	    <script src="{% static 'personal/js/html5shiv.js' %}"></script>
	    <script src="{% static 'personal/js/respond.min.js' %}"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'personal/images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href= "{% static 'personal/images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"  href="{% static 'personal/images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed"  href="{% static 'personal/images/ico/apple-touch-icon-57-precomposed.png' %}">

    <style>
    {% block csscontent %}

    {% endblock %}
    </style>

</head><!--/head-->

<body>

{% block body %}



{% endblock %}


    <script type="text/javascript" src="{% static 'personal/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'personal/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'personal/js/lightbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'personal/js/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'personal/js/audio.min.js' %}"></script>
    <script>


        $(document).ready(function(){
           $("#sidebar").stick_in_parent();


           {% block jscode %}
           {% endblock %}

           $('label').addClass('sr-only');
           $('input[type=text]').addClass('form-control form-group');
           $('input[type=password]').addClass('form-control form-group');
           $('input[type=email]').addClass('form-control form-group');
           $('input[type=checkbox]').addClass('hidden');


           {% block loadexternaljs %}

{% endblock %}

        });


    </script>



    <script type="text/javascript" src="{% static 'personal/js/masonry.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'personal/js/main.js' %}"></script>
 <script type="text/javascript" src="{% static 'personal/js/sticky-sidebar.min.js' %}"></script>

</body>
