{% extends "personal/header.html" %}

{% load static %}




{% block loadexternalcss  %}
	<link href="{% static 'personal/css/login.css' %}"  rel="stylesheet">
{% endblock %}




{% block content %}

<div class="form-wrap">

<div class="container setfullbody">

<section id="login">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">
                    <h3 style="text-align:center">Please <a href="/signup_login"> Log In </a>, or Sign Up</h3>
                    <form role="form" action="javascript:;" method="post" id="login-form">


<div class="form-group">
                             <label for="username" class="sr-only">Username</label>
                            <input type="text" id="username" name="username" placeholder="Enter username" class="form-control">
                        </div>


                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="somebody@example.com">
                        </div>


                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" name="key" id="key" class="form-control" placeholder="Password">
                        </div>

                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" name="key" id="key" class="form-control" placeholder="ReEnter Password">
                        </div>

                        <div class="checkbox">
                            <span class="character-checkbox" onclick="showPassword()"></span>
                            <span class="label">Show password</span>
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="SignUp" style="padding-top:4%">
                    </form>





    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>


</div>
</div>

  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}

    <button type="submit">Sign up</button>
  </form>




{% endblock %}



{% block jscode %}

{% endblock %}

