c<!--<nav class="navbar navbar-findcond navbar-fixed-top">-->
<!--    <div class="container mobile-header-story" style="padding-top:1%">-->

<!--<div class="row">-->

<!--<div class="col-xs-4 col-sm-4 col-md-4">-->

<!--			<a class="navbar-brand" href="/" style="cursor:pointer;"><img src="http://res.cloudinary.com/thestoryhut/image/upload/v1500201334/thestoryhut5_ou80xv" style="cursor:pointer;height:100%" alt="ThsStoryHut Logo"</img></a>-->

<!-- </div>-->

<!--<div  class="col-xs-8 col-sm-8 col-md-4 " style="justify-content: center;text-align:center">-->

<!--		   <h1 class="Book-title" style="display:inline">{{ story.story_title|title }}</h1>-->
<!--</div>-->

<!--<div id="rating" class="col-xs-12 col-sm-12 col-md-4 ">-->
<!--		   <span style="float:right" class="likebtn-wrapper lb-loaded lb-style-padded lb-popup-position-top lb-popup-style-light" data-theme="padded" data-identifier="item_1"><span class="likebtn-button lb-like" id="lb-like-93"><span onclick="LikeBtn.vote(1, 93, event);" class="lb-a" data-lb_index="93"><i class="lb-tt lb-tooltip-tt"><i class="lb-tt-lt"></i><i class="lb-tt-rt"></i><i class="lb-tt-m like">I like this</i><i class="lb-tt-mu">Unlike</i><i class="lb-tt-m2"></i><i class="lb-tt-lb"></i><i class="lb-tt-rb"></i><i class="lb-tt-a"></i></i><span class="likebtn-icon lb-like-icon">&nbsp;</span><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;<span class="likebtn-label lb-like-label like">Upvote</span></span><span class="lb-count likes" data-count="10330">10330</span></span><span class="likebtn-button lb-dislike " style="margin-left:15px" id="lb-dislike-93"><span onclick="LikeBtn.vote(-1, 93, event);" class="lb-a" data-lb_index="93"><i class="lb-tt lb-tooltip-tt"><i class="lb-tt-lt"></i><i class="lb-tt-rt"></i><i class="lb-tt-m">I dislike this</i><i class="lb-tt-mu">Undislike</i><i class="lb-tt-m2"></i><i class="lb-tt-lb"></i><i class="lb-tt-rb"></i><i class="lb-tt-a"></i></i>&nbsp;<i class="fa fa-thumbs-down fa-rotate-360" style="aria-hidden=true"></i><span class="likebtn-icon lb-dislike-icon dislike">&nbsp;</span></span><span class="lb-count dislike" data-count="1961">1961</span></span></span>-->
<!--</div>-->



<!--</div>-->

<!--</div>-->




<!--<nav class="navbar navbar-findcond navbar-fixed-top">-->
<!--    <div class="container" style="margin-top:1%;width:58% !important;height: 80px;">-->
<!--		<div class="navbar-header">-->
<!--			<a class="navbar-brand" href="/" style="cursor:pointer;"><img src="https://res.cloudinary.com/thestoryhut/image/upload/v1501815694/thestoryhut5_ou80xv" style="cursor:pointer;height:90%" alt="ThsStoryHut Logo"</img></a>-->
<!--		</div>-->
<!--		<div class="collapse navbar-collapse" id="navbar">-->
<!--			<ul class="nav navbar-nav navbar-right">-->
				<!--<li class="dropdown">-->
				<!--	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Notifications <span class="badge">0</span></a>-->
				<!--	<ul class="dropdown-menu" role="menu">-->
				<!--		<li><a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Music</span> sayfası <span class="badge">Video</span> sayfasında etiketlendi</a></li>-->
				<!--		<li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Music</span> sayfasında iletiniz beğenildi</a></li>-->
				<!--		<li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Video</span> sayfasında iletiniz beğenildi</a></li>-->
				<!--		<li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Game</span> sayfasında iletiniz beğenildi</a></li>-->
				<!--	</ul>-->
				<!--</li>-->
				<!--<li class="active dropdown"><a href="#">Your Stories <span class="sr-only">(current)</span></a></li>-->
<!--				<li class="dropdown">-->
<!--                    {% if user and not user.is_anonymous %}-->
<!--					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">	<div style="float: left;radius: 50%;" id="avatar"></div> &nbsp; <span class="caret"></span></a>-->
<!--					<ul class="dropdown-menu" role="menu">-->
<!--						<li><a href="#">Geri bildirim</a></li>-->
<!--						<li><a href="#">Yardım</a></li>-->
<!--						<li class="divider"></li>-->
<!--						<li><a href="#">Ayarlar</a></li>-->
<!--						<li><a href="#exit">Çıkış yap</a></li>-->
<!--					</ul>-->

<!--						{% else %}-->

<!--							<li class="active"><a href="{% url 'social:begin' 'facebook' %}">-->
<!--                                    Login with Facebook-->
<!--                                    </span></a></li>-->

<!--					{% endif %}-->
<!--				</li>-->
<!--			</ul>-->

<!--	<h1 class="Book-title" style="display:inline">{{ story.story_title|title }}-->
<!--            </div>-->


<!--		</div>-->
<!--	</div>-->
<!--</nav>-->

<!--	</div>-->
<!--</nav>-->


<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->

  <a href="/" class="navbar-wagon-brand">
    <img src="http://res.cloudinary.com/thestoryhut/image/upload/v1500201334/thestoryhut5_ou80xv" style="cursor:pointer;" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <!--<a class="love" style="margin-left:20px;margin-right:20px" href="#" class="navbar-wagon-item navbar-wagon-link"><i class="fa fa-heart-o" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;-->
    <!--<a class="bookmark" style="margin-right:15px" href="#" class="navbar-wagon-item navbar-wagon-link"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>-->

    <!-- Profile picture with dropdown list -->
    {% if user and not user.is_anonymous %}
				   <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="http://graph.facebook.com/{{ request.session.uid }}/picture" class="avatar-large dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Dashboard</a></li>
          <li ><a href="#">Bookmarks</a></li>
          <li ><a href="/">Log Out</a></li>
        </ul>
      </div>
    </div>
						{% else %}

							<li class="active"><a href="{% url 'social:begin' 'facebook' %}">
                                    Login with Facebook
                                    </span></a></li>

					{% endif %}



  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#" style="margin-left:20px">Trips</a></li>
        <li><a href="#" style="margin-left:20px">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
