

{% load staticfiles %}


{% block meta %}

<meta property="og:url"  content="http://www.thestoryhut.com/personal/{{story.story_title|slugify}}-{{story.id}}"/>

<meta property="og:type" content="article" />

<meta property="og:title" content='{{ story.story_title }}' />

<meta property="og:description" content='{{story.brief}}' />

<meta property="og:image"  content="http://res.cloudinary.com/thestoryhut/image/upload/v1500098352/{{story.cover_loc}}.jpg" />


{% endblock %}

{% block title %}
    <link rel="canonical" href="http://www.thestoryhut.com/personal/{{story.story_title|slugify}}-{{story.id}}" />
    <title> {{story.story_title}} </title>
{% endblock %}



 {% block js_load %}

<script type="application/ld+json">
{
     "isPartOf":"{{story.collection}}",

  "@context": "http://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "http://www.thestoryhut.com/personal/{{story.id}}"
  },
  "headline": "{{ story.story_title }}",
  "image": {
    "@type": "ImageObject",
 {% if not "http" in story.cover_loc %}
    {% load static %}F
    {% static "personal/images/" as baseUrl %}
             "url": "www.thestoryhut.com/{{ baseUrl }}{{story.cover_loc}}",
    {% else %}
              "url": "{{story.cover_loc}}",

    {% endif %}

    "height": 800,
    "width": 800
  },

  "datePublished": "{{story.published}}",
  "dateModified" : "{{story.published}}",

  "author": {
    "@type": "Person",
    "name": "{{ story.writer }}"
  },

   "publisher": {
    "@type": "Organization",
    "name": "TheStoryHut",
    "logo": {
      "@type": "ImageObject",
      "url": "http://www.thestoryhut.com/static/personal/images/nothingequation.png ",
      "width": 600,
      "height": 60
    }
  },

  "description": "{{ story.story_brief }}"
}
</script>

{% endblock %}



 {% block css_load %}
        	<link rel="stylesheet" href="{% static 'personal/css/style.css' %}">
        	<link rel="stylesheet" href="{% static 'personal/css/share-button.min.css' %}">

        <link href="{% static 'personal/css/freelancer.min.css' %}" rel="stylesheet">


    <style>
/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Content */
.content {
    padding-top: 30px;
}

/* Testimonials */
.testimonials blockquote {
    background: #f8f8f8 none repeat scroll 0 0;
    border: medium none;
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    position: relative;
}
.testimonials blockquote::before {
    width: 0;
    height: 0;
	right: 0;
	bottom: 0;
	content: " ";
	display: block;
	position: absolute;
    border-bottom: 20px solid #fff;
	border-right: 0 solid transparent;
	border-left: 15px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-bottom-style: inset; /*FF fixes*/
}
.testimonials blockquote::after {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #e63f0c transparent transparent transparent;
}
.testimonials .carousel-info img {
    border: 1px solid #f5f5f5;
    border-radius: 150px !important;
    height: 75px;
    padding: 3px;
    width: 75px;
}
.testimonials .carousel-info {
    overflow: hidden;
}
.testimonials .carousel-info img {
    margin-right: 15px;
}
.testimonials .carousel-info span {
    display: block;
}
.testimonials span.testimonials-name {
    color: #e6400c;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0 7px;
}
.testimonials span.testimonials-post {
    color: #656565;
    font-size: 12px;
}

.avatar {
  width: 30px;
  border-radius: 50% !important;
}
.avatar-large {
  width: 50px;
  border-radius: 50% !important;
}

i.fa.fa-heart
{
    color:#fa9191;
}

i.fa.fa-bookmark
{
    color:#716d6d;
}


.arrows
{
    top: 50%;

    bottom: 10px;
    width: 100px;
    overflow-y: auto;
    background-color: #eee;
    cursor: pointer;width: 48px;
    height: 48px;
    opacity:0.5;
}

.social-button
{
position: absolute;
    top: 1px;
    right: 22%;
}

.arrows:hover
{
    opacity:0.8;
}

.header
{
    position:relative;

}


.lb-style-padded .lb-like, .lb-style-padded .lb-dislike, .lb-style-drop .lb-like, .lb-style-drop .lb-dislike {
    height: 34px;
    padding-right: 7px;
}


.lb-style-white .lb-like, .lb-style-white .lb-dislike, .lb-style-padded .lb-like, .lb-style-padded .lb-dislike, .lb-style-drop .lb-like, .lb-style-drop .lb-dislike {
    background-color: #fafafa;
    border: 1px solid #C6C6C6;
    padding-top: 9px;
    color: #555555;
}

.lb-like, .lb-dislike {
    background-color: #787869;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-left: 10px;
    color: #F2F2F2;
    display: inline-block;
    height: 19px;
    margin-right: 3px;
    overflow: visible;
    padding: 1px 0 1px 3px;
}

.likebtn-button {
    line-height: inherit;
}


.likebtn-wrapper .lb-a .lb-tt {
    line-height: 16px;
    display: none;
}

.likebtn-wrapper .lb-a i {
    font-style: normal;

}

.lb-style-padded .lb-like-icon, .lb-style-padded .lb-dislike-icon, .lb-style-drop .lb-like-icon, .lb-style-drop .lb-dislike-icon {
    padding-left: 8px;
    background-position: right center;
}



.lb-style-white .lb-like-label, .lb-style-white .lb-dislike-label, .lb-style-padded .lb-like-label, .lb-style-padded .lb-dislike-label, .lb-style-drop .lb-like-label, .lb-style-drop .lb-dislike-label {
    color: #555555;
}


.lb-like-label, .lb-dislike-label {
    color: #DDDDDD;
    cursor: pointer;
    padding: 0 6px 0 1px;
    position: relative;
    vertical-align: middle;
}



.lb-style-white .lb-count, .lb-style-padded .lb-count, .lb-style-drop .lb-count {
    border-left: 1px solid #C6C6C6;
    color: black;
}

.lb-count {
    border-left: 1px solid darkgray;
    display: inline-block;
    font-weight: normal;
    height: 16px;
    padding: 0 7px 0 6px;
    position: relative;
    top: 1px;
    vertical-align: middle;
}

.lb-style-padded .lb-like-icon, .lb-style-padded .lb-like-label, .lb-style-padded .lb-dislike-icon, .lb-style-padded .lb-dislike-label, .lb-style-drop .lb-like-icon, .lb-style-drop .lb-like-label, .lb-style-drop .lb-dislike-icon, .lb-style-drop .lb-dislike-label {
    padding-top: 9px;
    padding-bottom: 9px;
}

.lb-style-padded .lb-like, .lb-style-padded .lb-dislike, .lb-style-drop .lb-like, .lb-style-drop .lb-dislike {
    height: 34px;
    padding-right: 7px;
}

.lb-style-white .lb-like, .lb-style-white .lb-dislike, .lb-style-padded .lb-like, .lb-style-padded .lb-dislike, .lb-style-drop .lb-like, .lb-style-drop .lb-dislike {
    background-color: #fafafa;
    border: 1px solid #C6C6C6;
    color: #555555;
}

  .Book-title
  {

      font-weight: 500;font-family:'Playfair Display', serif;font-size:1.5em;text-align:center;
  }

.firstpara:first-child:first-letter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 60px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

p
{
text-indent: 1em;margin: 1.8em 0;
}

p:first-child{
  text-indent: 0px;
}


.floating-share
{
position:fixed;
top:35%;
left:23%;
}

.fa {
    opacity: 0.8 !important;
    margin: 0 0 18px 0 !important;
}

@media only screen and (min-width: 768px)
{

.intro-header .page-heading, .intro-header .post-heading, .intro-header .site-heading
{
    padding: 3% 0;

}


  .Book-title
  {

      padding:2%;
  }

.footer {

display:none;

    padding: 0px 0 10px;


   border:0px;
   box-shadow:none !important;
}

        .fixed{
              position: fixed;
              z-index: 99;
              top: 0px;
              background-color: #FFF;
            }

}

nav[role="navigation"] {
  text-align: center;
}

.pagination-demo {
  width: 90%;
  max-width: 768px;
  margin: 2em auto 4em;
  text-align: center;
}
.pagination-demo li {
  /* hide numbers on small devices */
  display: none;
  margin: 0 .2em;
}
.pagination-demo li.button {
  /* make sure prev next buttons are visible */
  display: inline-block;
}
.pagination-demo a, .pagination-demo span {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* use padding and font-size to change buttons size */
  padding: .6em .8em;
  font-size: 1.6em;
}
.pagination-demo a {
  border: 1px solid #e6e6e6;
  border-radius: 0.25em;
}
.no-touch .pagination-demo a:hover {
  background-color: #f2f2f2;
}
.pagination-demo a:active {
  /* click effect */
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.pagination-demo a.disabled {
  /* button disabled */
  color: rgba(46, 64, 87, 0.4);
  pointer-events: none;
}
.pagination-demo a.disabled::before, .pagination-demo a.disabled::after {
  opacity: .4;
}
.pagination-demo .button:first-of-type a::before {
  content: '\00ab  ';
}
.pagination-demo .button:last-of-type a::after {
  content: ' \00bb';
}
.pagination-demo .current {
  /* selected number */
  background-color: #64a281;
  border-color: #64a281;
  color: #ffffff;
  pointer-events: none;
}
      #contentdiv
      {
         font-size:1.21em;
         margin-bottom:1.2em;
         line-height: 1.5em;
         font-family: "Crimson Text";
         text-align: left;
         margin-top:9%;
         letter-spacing: 0.025em;
         width: 58%;
         margin-left:auto;
         margin-right:auto;
         text-rendering: optimizeLegibility;
         -webkit-font-smoothing: antialiased;
         color:rgba(0,0,0,.8);
      }


@media only screen and (min-width: 768px) {
  .pagination-demo li {
    display: inline-block;
  }

}



@media only screen and (min-width: 1500px) {

.container
{
    width:65% !important;

}

.lb-style-padded .lb-like, .lb-style-padded .lb-dislike, .lb-style-drop .lb-like, .lb-style-drop .lb-dislike {
    height: 48px;
    padding-right: 7px;
}

.Book-title
{
padding-top:0%;
padding-left:28%;
}

.mobile-header-story
{
 margin-top:0.8%;
 text-align: center;
}


  .pagination-demo {
    margin: 4em auto 8em;
  }


        .intro-header .post-heading .subheading {
            font-size: 1.5em;
        }


    .intro-header .post-heading h1 {
        font-size: 2.5em;
    }

    .intro-header .post-heading .meta
    {
        font-family: "minion-pro","Lato",'Times New Roman',serif;
        font-style: italic;
        font-weight: 300;
        font-size: 1em;
    }

}


@media only screen and (max-width: 1500px)
{
  .pagination-demo li
  {
    display: inline-block;
  }

.book-title
{
padding-top:2%;
}
  .container
{
    width:70% !important;
}


      #contentdiv
      {
         font-size:1.41em;
         margin-bottom:1.2em;
         line-height: 2.0em;
         font-family: "Crimson Text";
         text-align: left;
         margin-top:11%;
         width: 55%;
         margin-left:auto;
         margin-right:auto;
         text-rendering: optimizeLegibility;
         -webkit-font-smoothing: antialiased;
         color:rgba(0,0,0,.8);
      }





      p
      {
          margin:0.5em,0;
      }


    .intro-header .post-heading h1
    {
        font-size: 2.5em;
    }

     .intro-header .post-heading .subheading {
            font-size: 1em;
        }

    .intro-header .post-heading .meta
    {
        font-family: Lora,'Times New Roman',serif;
        font-style: italic;
        font-weight: 300;
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 768px) {

  .container
{
    width:100% !important;
}

.navbar-wagon {
    padding-left: 3% !important;
    padding-right: 3% !important;
}

.footer {


    padding-top:2%;
    height: 2.8em !important;

}

p:first-child:first-letter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 30px;
  line-height: 30px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  padding-left:3%;
}

  .Book-title
  {

      font-weight: 600;font-family:'Playfair Display', serif;
      font-size:1.2em;
  }


.mobile-header-story
{
 margin-top:1.2%;
 text-align:center;

 display:flex;
    align-items: center;
    justify-content: center;
}

.intro-header  {
    padding: 2% 0;

  }
  .pagination-demo li
  {
    display: inline-block;
  }



      p
      {
          margin:0.5em,0 !important;
      }


    .intro-header .post-heading h1
    {
        font-size: 1.5em;
    }

     .intro-header .post-heading .subheading {
            font-size: 0.8em;
        }


    .post-heading
    {
         padding: 40% 1% 10% 1% !important ;
    }

    nav.navbar-findcond {
    background: #fff; box-shadow: 0 0 2px 0 #ccc;min-height:80px !important;


    }
}

@media only screen and (max-width: 700px) and  (orientation: Portrait )
{

.lb-style-white .lb-like, .lb-style-white .lb-dislike, .lb-style-padded .lb-like, .lb-style-padded .lb-dislike, .lb-style-drop .lb-like, .lb-style-drop .lb-dislike {
    background-color: #fafafa;
    border: 1px solid #C6C6C6;
    padding-top: 9px;
    color: #555555;
    height:10px;
}


  #contentdiv
      {
    font-size: 1.20em;
    margin-bottom: 1.2em;
    line-height: 1.65em;
    font-family: "Crimson Text";
    text-align: left;
    margin-top: 25%;
    width: 100%;
    padding-left: 0%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
      }



.lb-style-white .lb-like, .lb-style-white .lb-dislike, .lb-style-padded .lb-like, .lb-style-padded .lb-dislike, .lb-style-drop .lb-like, .lb-style-drop .lb-dislike {
    background-color: #fafafa;
    border: 1px solid #C6C6C6;
    padding-top: 0px;
    height: 20px !important;
    color: #555555;

}
    .Book-title
    {

}





// we'll add this class using javascript
.nav-up {
  top: -70px; // same as header height. use variables in LESS/SASS
}


body
{
    background-color:#fff;

}

body
{
    font-family: "PT Sans","LAto","Myriad Pro","ElizabethSerif",Georgia,serif !important;
    font-weight: 300 !important;
    text-rendering: "optimizeLegibility";
    font-size: 1.0em !important;
    line-height: 1.5em !important;
}

p
{
    margin-bottom: 1.10rem;
    margin: 1.6em !important;
}

@media only screen and (min-width: 90.062em)
{
    body {
        font-size: 1.3em;
        line-height: 1.375em;
      }

    p
    {
      font-size: 0.9em !important;
    line-height: 1.5em !important;
    }
}



.example .rating {
    float: left;
    margin-right: 30px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    /* -webkit-user-select: none; */
    -moz-user-select: none;
    -ms-user-select: none;
    /* user-select: none; */

}


.lb-style-padded .lb-like-icon, .lb-style-padded .lb-dislike-icon, .lb-style-drop .lb-like-icon, .lb-style-drop .lb-dislike-icon {
    padding-left: 8px;
    background-position: right center;
}

.lb-style-padded .lb-like-icon, .lb-style-padded .lb-like-label, .lb-style-padded .lb-dislike-icon, .lb-style-padded .lb-dislike-label, .lb-style-drop .lb-like-icon, .lb-style-drop .lb-like-label, .lb-style-drop .lb-dislike-icon, .lb-style-drop .lb-dislike-label {
    padding-top: 9px;
    padding-bottom: 9px;
}

.lb-style-white .lb-dislike-icon, .lb-style-padded .lb-dislike-icon, .lb-style-drop .lb-dislike-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFW…q+ExOI6OATKGER0ozNgB1QOhuo+R4x0cFIaW5kYqAQAAQYANsvPnjUzDQHAAAAAElFTkSuQmCC);
    background-position: center center;
    background-repeat: no-repeat;
}

.lb-like-icon, .lb-dislike-icon {
    display: inline-block;
    cursor: pointer;
    height: 16px;
    margin-right: 2px;
    width: 16px;
    vertical-align: middle;
}

.likebtn-wrapper * {
    background-attachment: scroll;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    border-width: 0;
    text-decoration: none;
    text-transform: none;
    direction: ltr;
    text-indent: 0;
    text-shadow: none;
    /*-moz-box-sizing: content-box;*/
    /*box-sizing: content-box;*/
}

.fa
{
    margin-left:20px;
}



.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}

</style>





 {% endblock %}



{% block json-ld %}



<script type="application/ld+json">
{
     "isPartOf":"{{story.collection}}",

  "@context": "http://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "http://www.thestoryhut.com/personal/{{story.id}}"
  },
  "headline": "{{ story.story_title }}",
  "image": {
    "@type": "ImageObject",
 {% if not "http" in story.cover_loc %}
    {% load static %}
    {% static "personal/images/" as baseUrl %}
             "url": "www.thestoryhut.com/{{ baseUrl }}{{story.cover_loc}}",
    {% else %}
              "url": "{{story.cover_loc}}",

    {% endif %}

    "height": 800,
    "width": 800
  },

  "datePublished": "{{story.published}}",
  "dateModified" : "{{story.published}}",

  "author": {
    "@type": "Person",
    "name": "{{ story.writer }}"
  },

   "publisher": {
    "@type": "Organization",
    "name": "TheStoryHut",
    "logo": {
      "@type": "ImageObject",
      "url": "http://www.thestoryhut.com/static/personal/images/nothingequation.png ",
      "width": 600,
      "height": 60
    }
  },

  "description": "{{ story.story_brief }}"
}
</script>

{% endblock %}


 <!-- Bootstrap Core CSS -->

{% block content %}




{% include 'personal/StorynavSnip.html' %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
        <div class="container" id = "testfix" style="backgroud:black">



  <!-- Post Content -->
    <article>

        <div class="arrows amazingcarousel-prev  hidden-xs" style=" display:none; position: fixed;  left: 10%;
     background: url(&quot;https://res.cloudinary.com/thestoryhut/image/upload/v1502518063/arrows-48-48-2_pprmol.png&quot;)"></div>



        <div class="arrows amazingcarousel-next  hidden-xs" style=" display:none;position: fixed;right: 10%;
    background: url(&quot;https://res.cloudinary.com/thestoryhut/image/upload/v1502518063/arrows-48-48-2_pprmol.png&quot;) right top no-repeat;"></div>


            <div class="row">


                <div id="contentdiv">


                <div class="content">
       <div class="row">
        <div>

             <div class="testimonials" align="center">
<h1>{{story.story_title}}</h1>
                </div>

            <div class="testimonials" align="center">
                <div class="carousel-info">
                    <!--<img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg">-->
                    <div>
                      <span class="testimonials-name">{{ story.writer }}</span>
                      <span class="testimonials-post">Published : {{story.Originally_published}}</span>
                    </div>
                  </div>
                </div>
            </div>
</div>


            </div>

<ul class="floating-share hidden-xs">
<li><a class="love"  href="#" class="navbar-wagon-item navbar-wagon-link"><i class="fa fa-heart-o" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;
</li><li>    <a class="bookmark" href="#" class="navbar-wagon-item navbar-wagon-link"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
</li>

<li><i class="fa fa-facebook" aria-hidden="true"></i></li>
<li><i class="fa fa-twitter" aria-hidden="true"></i></li>
</ul>
                                {{story_text|safe}}

                                </div>
                                <div class="container">
                                <div class="visible-xs row">
                                        <div class="col-xs-2"><a class="love"  href="#" class="navbar-wagon-item navbar-wagon-link"><i class="fa fa-heart-o" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;
                                        </div><div class="col-xs-2">    <a class="bookmark" href="#" class="navbar-wagon-item navbar-wagon-link"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>
                                        </div>

                                        <div class="col-xs-2"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                        <div class="col-xs-2"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                </div>
                                </div>
                </div>


        </div>



    </article>

    <hr>



 </div>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Happy or Sad ? </h4>
        </div>
        <div class="modal-body">
          <div id="vc-feelback-main" data-access-token="41625758a05546bc83ca2fff97c3cd04" data-display-type="4"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>


</div>





	<footer class="footer">


      <div class="row">



<!-- LikeBtn.com BEGIN -->
<!--<span class="likebtn-wrapper" data-theme="padded" data-identifier="item_1"></span>-->
<!--<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>-->


 <div class="container" >
<!-- LikeBtn.com BEGIN -->
<link rel="stylesheet" href="http://lab.lepture.com/social/dist/widget.css">

<!--<div id="rating">-->
<!--    <button class="btn btn-default like">Like</button>-->
<!--    <span class="likes">0</span>-->
<!--    <button class="btn btn-default dislike">Dislike</button>-->
<!--    <span class="dislikes">0</span>-->
<!--</div>-->

<!-- LikeBtn.com BEGIN -->
<!--<span class="likebtn-wrapper" data-theme="padded" data-identifier="item_1"></span>-->
<!--<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>-->
<div class="row">


<div style="text-align:center">
<ul class="pagination-sm pagination-demo" style="margin-top:0px"></ul>
</div>

<!--<div class="social-button" data-twitter="lepture"-->
<!--    data-facebook="lepture" data-weibo="lepture"-->
<!--    data-count="true" data-text="{{story.story_title}}"-->
<!--    data-url="http://www.thestoryhut.com/personal/{{story.story_title|slugify}}-{{story.id}}"></div>-->
<!--<script src="http://lab.lepture.com/social/dist/widget.js"></script>-->
<!--</div>-->

    </footer>

{% endblock %}




 {% block paginateload %}
 <div class="container">
        <div class="row" align="center">

        <ul class="pagination-sm pagination-demo"></ul>


 </div>


        </div>
</div>
{% endblock %}

{% block jscontent %}



  <script src="{% static 'personal/js/responsive-paginate.js' %}"></script>
  <script src="{% static 'personal/js/like-dislike.min.js' %}"></script>
  <script src="{% static 'personal/js/share-button.min.js' %}"></script>
  <script src="{% static 'personal/js/headroom.js' %}"></script>
  <script src="{% static 'personal/js/jQuery.headroom.js' %}"></script>




<script type="text/javascript">

$(document).ready(function()
{
var needfadeIn = false;

window.addEventListener("scroll", function()
{
    // if (window.scrollY > 100 && ($(window).scrollTop() + $(window).height() < $(document).height() - 150 )){
    //     $('.floating-share').fadeIn();
    //      $('.footer').fadeOut();

    // }
    // else {
    //     // $(".navbar-findcond").css('opacity', '1');

    // }

     if ($('body').height() <= ($(window).height() + $(window).scrollTop())+100) {
                        $('.footer').fadeIn();
                    }
     else
     {
         $('.footer').fadeOut();
     }

},false);

$(function () {
  $.scrollUp({
    scrollName: 'scrollUp', // Element ID
    topDistance: '300', // Distance from top before showing element (px)
    topSpeed: 300, // Speed back to top (ms)
    animation: 'fade', // Fade, slide, none
    animationInSpeed: 200, // Animation in speed (ms)
    animationOutSpeed: 200, // Animation out speed (ms)
    scrollText: 'Scroll to top', // Text for element
    activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
  });
});


$('#rating').likeDislike({
        initialValue: 0,
        click: function (value, l, d, event) {
            alert("called");
            var likes = $(this.element).find('.likes');
            var dislikes = $(this.element).find('.dislikes');

            likes.text(parseInt(likes.text()) + l);
            dislikes.text(parseInt(dislikes.text()) + d);

            // $.ajax({
            //     url: 'url',
            //     type: 'post',
            //     data: 'value=' + value,
            // });
        }
    });

(function() {
var v = document.createElement('script'); v.async = true;
v.src = "http://assets-prod.vicomi.com/vicomi.js";
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(v, s);
})();



text = $('#contentdiv').html()
p_arr = text.split("$PB$")
var p_arr = p_arr.filter(function(v){return v!==''});

var visible = 8;

if(p_arr.length<10)
{
    visible = p_arr.length;
}

else
{

    visible = 10;
}

const mq = window.matchMedia( "(max-width: 768px)" );
if (mq.matches) {
  visible = 1;
}



$.detectSwipe.threshold = 100;


if(p_arr.length > 2)
{
    $('.pagination-demo').twbsPagination({
            totalPages: p_arr.length,
            visiblePages: visible,
            loop:true,
            next: 'Next',
            prev: 'Prev',
            onPageClick: function (event, page)
             {
                $('#contentdiv').html(p_arr[page-1]);
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
             }
        });

}

     $('.amazingcarousel-prev').on('click', function() {
            $('.pagination-demo').twbsPagination('show', $('.pagination-demo').twbsPagination('getCurrentPage')-1);
     });



       $('.amazingcarousel-next').on('click', function() {
            $('.pagination-demo').twbsPagination('show', $('.pagination-demo').twbsPagination('getCurrentPage')+1);
     });

     $("#contentdiv").on('swipeleft',  function(){
         $('.pagination-demo').twbsPagination('show', $('.pagination-demo').twbsPagination('getCurrentPage')+1);
     });

     $("#contentdiv").on('swiperight', function(){
         $('.pagination-demo').twbsPagination('show', $('.pagination-demo').twbsPagination('getCurrentPage')-1);
     });

$('.love').click(function(){
    $('.love').find('i').toggleClass('fa-heart-o fa-heart')
});

$('.bookmark').click(function(){
    $('.bookmark').find('i').toggleClass('fa-bookmark-o fa-bookmark')
});



$(".navbar-wagon").headroom();



});
</script>
{% endblock %}