<<<<<<< HEAD
{% extends 'header.html' %}

{% block content %}

  <h2>Homepage</h2>

  <p>Hello {{ user.username }}!</p>
=======
{% extends 'personal/header.html' %}

{% load staticfiles %}


 {% block css_load %}
       	<link rel="stylesheet" href="{% static 'personal/css/style.css' %}">
 		<link rel="stylesheet" href="{% static 'personal/css/main.css' %}">
 {% endblock %}

{% block content %}

	<!---start-content---->
		<div class="content">
			<div class="wrap">
			 <div id="main" role="main">

  <h2>Homepage</h2>
  <p>Hello {{username}}</p>





</div>
</div>
</div>
>>>>>>> f89d53b9476f40610bebc597e6f436b84fbad712

{% endblock %}