<!DOCTYPE html>
<html>



<meta charset="utf-8">







    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block meta %}
            {% endblock %}


{% block title %}



{% endblock %}

{% block json-ld %}

{% endblock %}

    <!-- Bootstrap Core CSS -->
    {% load staticfiles %}

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type = "text/css"/>


<link rel="shortcut icon" type="image/png" href="{% static 'personal/images/favicon.ico' %}" />


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"> </script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" rel="stylesheet">

    <!-- Theme CSS -->

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


     <script src=" {% static 'personal/js/jqBootstrapValidation.js' %}"></script>
    <script src=" {% static 'personal/js/contact_me.js' %}"></script>

    <script src=" https://cdnjs.cloudflare.com/ajax/libs/bootpag/1.0.7/jquery.bootpag.min.js"></script>
    <!-- Theme JavaScript -->
    <script src=" {% static 'personal/js/freelancer.min.js' %}"></script>

    <script src=" {% static 'personal/js/jquery.easyPaginate.js' %}"></script>

<script src=" {% static 'personal/js/jquery.twbsPagination.js' %}"></script>


<script type="text/javascript" data-cfasync="false" src="//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js" data-shr-siteid="da96c7cc48739ef4927946b5576d7cc2" async="async"></script>




<style>

.poem{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 1.2em;
    line-height: 1.42857143;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: white;
    border: 0px solid #ccc;
    border-radius: 0px;
     white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

.reader
{

 font-size: 80%;
 border-bottom: none;
 float: right;
 padding: 5px;
 border-radius: 3px;
 border: 1px solid #ddd;

}

hr
{
    margin-top: 0px; */
}

 @media screen and (min-width: 500px){
            .rwd-break { display: none; }
        }

@media only screen and (max-width: 992px) {
    .container {
        width : 90%;
    }
}

/* Cosmetic only */


.chapter_header
{
    padding-bottom: 20px;text-decoration: underline;text-align: center;
}



    @media only screen and (max-width:662px) {
        .desktop-only {
            display:none;
        }
        .mobile-story-title
        {

            text-align:center;
            margin:auto;
        }
    }

.fb-share {
  vertical-align: top;
  display: inline-block;
  height: 18px;
  padding: 0 4px;
  border: 1px solid #cad4e7;
  border-radius: 3px;
  background: #eceef5;
  color: #3b5998;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  /* IE7 */
  *display: inline;
  *zoom: 1;
}
.fb-share:hover {
  border-color: #9dacce;
}
.fb-share-icon {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 1px;
  background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y-/r/tbhIfdAHjXE.png);
  /* IE7 */
  *display: inline;
  *zoom: 1;
}
.fb-share-text {
  position: relative;
  top: -1px;
}


#easyPaginate img {display:block;margin-bottom:10px;}

.easyPaginateNav a {padding:5px;}

.easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}


.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.navbar-header .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #00b3fe;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #00b3fe;
    background-color: transparent;
}

.navbar-default {
    background-color: #384452;
    border-color: transparent;
}

.dropdown-menu {
    background: #384452;
}

.dropdown-menu > li > a {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.btn-theme {
  color: #fff;
  background-color: #384452;
  border-color: #384452;
  margin: 4px;
}

.data {
    width: 100%;                          /* specify width  */
    white-space: pre-wrap;
    word-break: keep-all; /*this stops the word breaking*/
    font-family:"Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;;               /* IE 5.5+ and up */
    background-color:transparent;
    font-size:18px;line-height:1.92857143;color:#333;
    border: 0px;
    padding: 40px;
    }


.main-container {
  padding: 40px 15px;
}

.p {
  text-align: center;
}

body {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-bottom: 80px;
    margin-top: 0;
    position: relative;
    font-size:1.3em;
}


.top-margin
{
    margin-top:4%;
}

footer
{
    position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   padding: 25px 0;
   background-color: #233140;
       color: #fff;
}
}

    #mainNav{
        padding: 0px;
    }

.btn-theme {
  color: #fff;
  background-color: #384452;
  border-color: #384452;
  margin: 4px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #00b3fe;
  border-color: #00b3fe;
}



@media (max-width: 768px) {
  .container {
    width: 95%;
  }


  .h2, h2 {
    font-size: 1.5em;
  }

  p
  {
      font-size: 0.8em;
      line-height:1.8em;
  }

  .top-margin
    {
        margin-top:20%;
    }


}


.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}




@media (min-width: 768px) {
  .container {
    width: 80%;
  }

  #pagination-demo
  {
   float: right;
  }
}
@media (min-width: 992px) {
  .container {
    width: 80%;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#01b2fe;
}

::-moz-selection  {
    color: #fff;
    text-shadow:none;
    background:#2B2E31;
}
::selection {
    color: #fff;
    text-shadow:none;
    background:#2B2E31;
}

.centered {
    text-align: center
}





</style>


</head>

<body id="page-top" class="index">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQ52QNM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="wrap">
    <!-- Navigation -->
 <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TheStoryHut</a>

        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Stories</a></li>
            <li><a href="#">About StoryHut</a></li>
            <li><a href="#">Share Your Story</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>




<div class="container top-margin" >

<div class="row masonry-container ">
    	<div>
	             {% block content %}
                 {% endblock %}
	    </div>

</div>

</div>



    <!-- About Section -->

    <!-- Footer -->

    <footer class="text-center navbar-fixed-bottom desktop-only">
        <div class="footer-below">
            <div class="container">
                <div class="row">

                     Copyright &copy; TheStoryHut 2016


            </div>
        </div>
    </footer>

</div>

    <!-- Portfolio Modals -->

    <!-- jQuery -->




 <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->


      <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<!-- or -->
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>

    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.js"></script>

    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>




</body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script type="text/javascript">

    // Sample using dynamic pages with turn.js

text = $('#contentdiv').html()

p_arr = text.split("$PB$")

var p_arr = p_arr.filter(function(v){return v!==''});



$('.pagination-demo').twbsPagination({
        totalPages: p_arr.length,
        visiblePages: 5,
        onPageClick: function (event, page) {
            $('#contentdiv').html(p_arr[page-1]);
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        }
    });


$('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 200,
  horizontalOrder: true
});








        // init bootpag

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87002836-1', 'auto');
  ga('send', 'pageview');

</script>

</html>
