{% extends "personal/header.html" %}


{% block meta %}

{% block title %}
    <link rel="canonical" href="http://www.thestoryhut.com/personal/{{story.story_title|slugify}}-{{story.id}}" />
    <title> {{story.story_title}} </title>

{% endblock %}


<meta property="og:url"                content="http://www.thestoryhut.com/personal/{{story.story_title|slugify}}-{{story.id}}"/>

<meta property="og:type"               content="article" />

<meta property="og:title"              content="{{ story.story_title }}" />

<meta property="og:description"        content="{{ story.story_brief }}" />

 {% if not "http" in story.cover_loc %}
        {% load static %}
            {% static "personal/images/" as baseUrl %}
                <meta property="og:image"   content="www.thestoryhut.com/{{ baseUrl }}{{story.cover_loc}}" />
            {% else %}
             <meta property="og:image"   content="{{story.cover_loc}}" />
            {% endif %}

{% endblock %}



{% block json-ld %}



<script type="application/ld+json">
{
     "isPartOf":"{{story.collection}}",

  "@context": "http://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "http://www.thestoryhut.com/personal/{{story.id}}"
  },
  "headline": "{{ story.story_title }}",
  "image": {
    "@type": "ImageObject",
 {% if not "http" in story.cover_loc %}
    {% load static %}
    {% static "personal/images/" as baseUrl %}
             "url": "www.thestoryhut.com/{{ baseUrl }}{{story.cover_loc}}",
    {% else %}
              "url": "{{story.cover_loc}}",

    {% endif %}

    "height": 800,
    "width": 800
  },

  "datePublished": "{{story.published}}",
  "dateModified" : "{{story.published}}",

  "author": {
    "@type": "Person",
    "name": "{{ story.writer }}"
  },

   "publisher": {
    "@type": "Organization",
    "name": "TheStoryHut",
    "logo": {
      "@type": "ImageObject",
      "url": "http://www.thestoryhut.com/static/personal/images/nothingequation.png ",
      "width": 600,
      "height": 60
    }
  },

  "description": "{{ story.story_brief }}"
}
</script>

{% endblock %}


 <!-- Bootstrap Core CSS -->

{% block content %}


<div class="row blog-hero" >

<div class="col-md-7 mobile-story-title">
<h2 style="font-size:1.5em">{{ story.story_title }}
    {% if not "unanonymous" in story.writer %} <br class="rwd-break" />
                    <small >  By {{ story.writer }}</small>
    {% endif %}

</div>
    <div class="col-md-5">
     <ul class="pagination-sm pagination-demo "></ul>
                </div>
</h2>
</div>

<hr/>

    <div class="paging-container"> </div>

	<div class="row">

  <div class="col-sm-12" id="contentdiv" style="margin-bottom:1.2em;font-size: 1.2em;line-height: 2em;text-align: justify;text-justify: inter-word;">
      {{story_text|safe}} </div>
    </div>
    <br>
    <ul  class="pagination-demo pagination-sm hidden-md hidden-lg"></ul>




{% endblock %}