{% extends "account/base.html" %}

{% load i18n %}

{% load socialaccount %}
{% providers_media_js %}

{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}




{% block content %}

<a href="{% provider_login_url "facebook" method="js_sdk" %}">Login Button image</a>


{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>



{% include "socialaccount/snippets/login_extra.html" %}

{% else %}

{% endif %}


<div class="form-wrap">

<section id="login">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">
                     <h1>{% trans "Sign In" %}</h1>
                    <p>{% blocktrans %}{% endblocktrans %}</p>
                 <h3 style="text-align:center" class="form-group">If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.</h3>
               <form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}


                 <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">



  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

</form>



                    <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">or</span>
      </div>



                              <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
        </div>
      </div>


        	    </div>



    		</div> <!-- /.col-xs-12 -->




    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

</div>
{% endblock %}



