{% extends "personal/header.html" %}

{% load i18n %}

{% load static %}

{% block loadexternalcss  %}
	<link href="{% static 'personal/css/login.css' %}"  rel="stylesheet">
{% endblock %}


{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="form-wrap">

  <section id="login">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">
                     <h1>{% trans "Sign UP" %}</h1>
                    <p>{% blocktrans %}{% endblocktrans %}</p>
                 <h3 style="text-align:center" class="form-group"> Already have an account ?
<a href="/accounts/login/">LogIn Here</a> .</h3>
               <form class="login" method="POST" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}


                 <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Sign Up">



  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}


</form>







    		</div> <!-- /.col-xs-12 -->




    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

</div>
{% endblock %}
